name: Action!

on:
  push:
    branches:
    - master

jobs:
  run:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: docker login
      uses: azure/docker-login@v1
      with:
        login-server: quay.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Does this work?
      run: docker run quay.io/vgsi/tax-postgres:master